/*
===============
Job Card Styles
===============
*/

.job-card {
  background: rgb(239, 233, 233);
  color: black;
  padding: 1em;
  width: 50%;
  margin: 1em 0 1em 0;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(41, 74, 173);
}

.job-card-header {
  display: flex;
  border-bottom: 2px solid red;
  border-top: 2px solid red;
  padding: 0.5em 0 0.5em 0;
  justify-content: space-between;
}

.job-card-details {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1.5fr 4fr 2fr 4fr 2fr;
  grid-template-rows: auto;
}

.job-card-details > h4 {
  margin-left: auto;
  margin-top: 0.5em;
}

.job-card-details > p {
  margin-left: 1em;
  margin-top: 0.5em;
}

.job-card-details > button {
  margin-top: 0.5em;
  margin-right: 3.5em;
}
